
   * {
        box-sizing:border-box;
        margin:0;
        padding:0;
    }
        body {
            display: flex;
   
    }
        
        section{
         min-height: 100vh;
            width:50%; }
    .first-half{
     display: flex;
     flex-direction: column;
     justify-content:center ;
     padding:60px;}
     .first-half h1{
        font-size :48px;
        color:blue;}
        .first-half p{
         font-size:20px
            }
      


        @media only screen and  (max-width:700px){
            body {
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                row-gap:20px;
                column-gap: 10px;
                justify-content: center;
                height:100vh;
                
            }
        section {
            width:unset;
            min-height:unset;
        }
           .first-half {
            width:350px;
            padding:unset;
           }
           .first-half h1 {
            text-align:center;

           }
            
        }
        @media only screen and (max-width:430px){
           .first-half {
                width:260px;
            }
         .second-half form {
           min-width: 260px;
           
           }
        }
           